<!-- profile.page.html -->
<ion-header translucent>
    <ion-toolbar color="primary">
        <ion-title>User Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="userData">
        <ion-card-header>
            <ion-card-title class="text-capitalize"
                >{{ userData.name }}</ion-card-title
            >
        </ion-card-header>
        <ion-card-content>
            <ion-list lines="full">
                <ion-item class="text-uppercase">
                    <ion-icon name="person-circle" slot="start"></ion-icon>
                    Username: {{ userData.username }}
                </ion-item>
                <ion-item>
                    <ion-icon name="mail" slot="start"></ion-icon>
                    Email: {{ userData.email }}
                </ion-item>
                <ion-item>
                    <ion-icon name="call" slot="start"></ion-icon>
                    Mobile: {{ userData.mobile_number }}
                </ion-item>
                <ion-item>
                    <ion-icon name="business" slot="start"></ion-icon>
                    Bank Name: {{ userData.bank_details.bank_name }}
                </ion-item>
                <ion-item>
                    <ion-icon name="card" slot="start"></ion-icon>
                    Account Number: {{ userData.bank_details.account_number }}
                </ion-item>
                <ion-item>
                    <ion-icon name="key" slot="start"></ion-icon>
                    IFSC Code: {{ userData.bank_details.ifsc_code }}
                </ion-item>
                <ion-item>
                    <ion-icon name="wallet" slot="start"></ion-icon>
                    UPI ID: {{ userData.upi_number }}
                </ion-item>
                <ion-item>
                    <ion-icon name="stats-chart" slot="start"></ion-icon>
                    Level: {{ userData.level }}
                </ion-item>
                <ion-item>
                    <ion-icon name="time" slot="start"></ion-icon>
                    Joined: {{ userData.createdAt | date: 'medium' }}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
