<ion-header>
    <ion-toolbar>
      <ion-title>Transfer Epin</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list class="p-2">
      <ion-input [(ngModel)]="selectedUser" placeholder="Enter UserName"></ion-input>
      <ion-button expand="full" (click)="validateReferral()"
      >Validate Referral</ion-button
  >
  <ion-item *ngIf="newUser">
    <ion-label> Transfer To Name: {{ newUser.name }} </ion-label>
  </ion-item>
  <input type="text" class="form-control" placeholder="How Much Pin To transfer" [(ngModel)]="count" *ngIf="newUser">
<div class="ion-padding" *ngIf="newUser">
  <ion-button
    expand="block"
    (click)="transfer()"
    [disabled]="!selectedUser || transferringEpin"
  >
    <span *ngIf="!transferringEpin">Transfer Epin</span>
    <ion-spinner name="crescent" *ngIf="transferringEpin"></ion-spinner>
  </ion-button>
</div>
</ion-list>
  </ion-content>