<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Used Epin</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Used Epin</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-list>
      <ion-item *ngFor="let epin of usedEPins">
        <ion-label>
          <h2>Code: {{ epin.code }}</h2>
          <p>Used By: {{ epin.usedBy.name }}</p>
          <p>Used By UserName: {{ epin.usedBy.username }}</p>
          <p>Status: {{ epin.status }}</p>
          <p>Used At: {{ epin.updatedAt | date:'medium' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>