<ion-header translucent="true">
    <ion-toolbar>
        <ion-title>Level-Wise Chart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <ion-accordion-group>
        <ion-accordion *ngFor="let level of referralTree; let i = index">
            <ion-item slot="header">
                <ion-label>
                    Level {{ level.level }} ({{ level.count }} users)
                </ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item *ngFor="let user of level.users">
                    <ion-avatar slot="start">
                        <ion-icon name="person"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2 class="text-capitalize">{{ user.name }}</h2>
                        <p>Email: {{ user.email }}</p>
                        <p>Mobile: {{ user.mobile_number }}</p>
                        <p class="text-capitalize">
                            Username: {{ user.username }}
                        </p>
                        <p class="text-capitalize">
                            Referred by: {{ user.referrer_name }} ({{
                            user.referrer_username }})
                        </p>
                        <ion-badge
                            [color]="user.status === 'Active' ? 'success' : 'danger'"
                        >
                            {{ user.status }}
                        </ion-badge>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
