<ion-header translucent="true">
    <ion-toolbar>
        <ion-title>Signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="signup-form mb-5">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input formControlName="name" required></ion-input>
                </ion-item>
                <ion-text
                    color="danger"
                    *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid"
                >
                    <small>Name is required.</small>
                </ion-text>

                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input
                        formControlName="password"
                        type="password"
                        required
                    ></ion-input>
                </ion-item>
                <ion-text
                    color="danger"
                    *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
                >
                    <small>Password is required.</small>
                </ion-text>

                <ion-item>
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input
                        formControlName="mobile_number"
                        type="tel"
                        required
                    ></ion-input>
                </ion-item>
                <ion-text
                    color="danger"
                    *ngIf="signupForm.get('mobile_number')?.touched && signupForm.get('mobile_number')?.invalid"
                >
                    <small>Mobile number is required.</small>
                </ion-text>

                <ion-item>
                    <ion-label position="floating">UPI Number</ion-label>
                    <ion-input
                        formControlName="upi_number"
                        required
                    ></ion-input>
                </ion-item>
                <ion-text
                    color="danger"
                    *ngIf="signupForm.get('upi_number')?.touched && signupForm.get('upi_number')?.errors?.['required']"
                >
                    <small>UPI number is required.</small>
                </ion-text>

                <ion-item>
                    <ion-label position="floating">Referral Code</ion-label>
                    <ion-input
                        formControlName="referral_code"
                        required
                        (ionChange)="validateReferral()"
                    ></ion-input>
                </ion-item>
                <ion-text
                    color="danger"
                    *ngIf="signupForm.get('referral_code')?.touched && signupForm.get('referral_code')?.errors?.['required']"
                >
                    <small>Referral code is required.</small>
                </ion-text>
                <ion-text color="success" *ngIf="referralData !== undefined">
                    <div
                        class="alert alert-success text-capitalize"
                        role="alert"
                    >
                        {{ referralData }}
                    </div>
                </ion-text>
                <ion-button
                    expand="block"
                    [disabled]="!signupForm.valid"
                    (click)="signup()"
                    class="signup-btn mb-5"
                >
                    Signup
                </ion-button>
            </ion-list>
        </form>
    </div>
</ion-content>
