<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ROMD SERVICES प्रा.ली.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">🌹🙏 महोदय, 🙏🌹</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>👉 खुप वर्षापासून पृथ्वीवर अतोनात केमिकल चा वापर सुरू आहे. त्यामुळे पाच तत्त्वाच्या बनलेल्या आपल्या मानवी शरीरावर विपरीत परिणाम होत आहेत. परिणामी वेग वेगळ्या प्रकार चे आजार होत आहेत. कधीही कॅन्सर/अटॅक येऊ शकतो...</p>
      <p>🏅 या व्याधी चे प्रॉपर उत्तर सायन्स कडे नसले, तरी पण भारतातील प्राचीन आयुर्वेद चिकित्सा पद्धतीने हे 100% शक्य आहे. 🏅</p>
      <p class="ion-text-center">🌹🤝 JIVAN AMRUT SAYRP 🤝🌹</p>

      <div class="image-container">
        <img src="../../assets/jeevanAmrut.png" alt="Product Image">
      </div>

      <p>👉 मानवी शरीराला होणारा कुठला पण दुर्धर,आजार असो छान लोकांना रिजल्ट येत आहेत. 🤷‍♀️ फक्त एकवेळ आवश्यक वापरुन बघा...</p>
      <ul>
        <!-- List items -->
      </ul>

      <p>अधिक माहितीसाठी संपर्क :- <a href="tel:7499277181">7499277181</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>