ion-card {
  background: linear-gradient(145deg, #fffbeb, #ffedc9);
  border-radius: 15px;
  box-shadow: 3px 3px 10px #b5b5b5, -3px -3px 10px #ffffff;
}

ion-card-title {
  color: #d35400;
  font-weight: bold;
  font-size: 1.5rem;
}

ion-card-content {
  font-size: 1.1rem;
  color: #2d3436;
}

ion-content {
  --background: #f5f5f5;
}

p, ul {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1rem;
  text-indent: -1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    animation: fadeInAnimation 1s ease-in-out;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}