<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
        <ion-card>
            <ion-img src="../../assets/jeevanAmrut.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Jeevan Amrut Product</ion-card-title>
              <ion-card-title class="price">MRP 1500</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button
                fill="solid"
                expand="block"
                color="primary"
                (click)="gotoproduct()"
                class="m-3"
              >
                See More Information
              </ion-button>
            </ion-card-content>
          </ion-card>
        <ion-card
            class="custom-card pending-received"
            (click)="navigateToRecived()"
        >
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="cash-outline" class="large-icon"></ion-icon>
                    Total Pending Received Help
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="amount-text text-center">
                {{ totalInitiatedPayments | currency:'INR' }}
            </ion-card-content>
        </ion-card>

        <ion-card class="custom-card pending-give" (click)="navigateToActive()">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="cash-outline" class="large-icon"></ion-icon>
                    Total Pending Give Help
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="amount-text text-center">
                {{ totalInitiatedPaymentsGive | currency:'INR' }}
            </ion-card-content>
        </ion-card>

        <ion-card
            class="custom-card received-help"
            (click)="navigateToRecived()"
        >
            <ion-card-header>
                <ion-card-title>
                    <ion-icon
                        name="checkmark-circle-outline"
                        class="large-icon"
                    ></ion-icon>
                    Total Help Received
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="amount-text text-center">
                {{ totalCompletedPayments | currency:'INR' }}
            </ion-card-content>
        </ion-card>

        <ion-card class="custom-card give-help" (click)="navigateToActive()">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon
                        name="checkmark-circle-outline"
                        class="large-icon"
                    ></ion-icon>
                    Total Help Gived
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="amount-text text-center">
                {{ totalCompletedPaymentsGive | currency:'INR' }}
            </ion-card-content>
        </ion-card>

        <ion-card
            class="custom-card total-team"
            (click)="navigateToLevelWiseChart()"
        >
            <ion-card-header>
                <ion-card-title>
                    <ion-icon
                        name="checkmark-circle-outline"
                        class="large-icon"
                    ></ion-icon>
                    Total Team
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="amount-text text-center">
                {{ Total_member }}
            </ion-card-content>
        </ion-card>
    </div>

    <app-share-card></app-share-card>
</ion-content>
