.custom-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    ion-card-header {
        padding: 16px;
    }

    ion-card-title {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .large-icon {
        font-size: 32px;
        margin-right: 10px;
    }

    .amount-text {
        font-size: 24px;
        font-weight: bold;
    }
}

.pending-received {
    background-color: #e6f2ff;

    ion-card-title {
        color: #2196f3;
    }
}

.pending-give {
    background-color: #fff0e5;

    ion-card-title {
        color: #ff9800;
    }
}

.received-help {
    background-color: #e8f5e9;

    ion-card-title {
        color: #4caf50;
    }
}

.give-help {
    background-color: #fff3e0;

    ion-card-title {
        color: #fbc02d;
    }
}

.total-team {
    background-color: #e1f5fe;

    ion-card-title {
        color: #03a9f4;
    }
}
