.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .card-text ion-icon {
    margin-right: 5px;
  }
  
  .text-warning {
    color: #ffc107;
  }
  
  .text-success {
    color: #28a745;
  }