ion-header {
    --background: #ffffff; // Adjust the color according to your theme
    --ion-color-base: auto;
}

ion-toolbar {
    --background: #f8f9fa; // Light grey background
}

ion-title {
    color: #1a73e8; // Brand color for titles
}

ion-content {
    --background: #ffffff; // White background for content area
}

ion-list {
    margin-top: 20px; // Adds some space above the list
}

ion-item {
    --background: #ffffff; // Ensures items have a white background
    --border-radius: 8px; // Rounded corners for items
    --padding-start: 20px; // Left padding for content inside items
    --padding-end: 20px; // Right padding for content inside items
    --inner-border-width: 0; // Removes inner borders in ion-item
    --min-height: 50px; // Sets a minimum height for each item for better touch targets
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
    margin-bottom: 10px; // Space between items
    transition:
        transform 0.1s,
        box-shadow 0.1s; // Smooth transition for interaction

    &:active {
        transform: scale(0.98); // Slightly shrink when tapped
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); // Larger shadow when active
    }
}

ion-label {
    font-size: 1.1em; // Slightly larger font size
}

.logout-button {
    --color: #d32f2f; // Red color for logout to indicate a cautionary action
}
